
[submodule "slimjet"]
	path = slimjet
	url = https://aur.archlinux.org/slimjet.git
[submodule "spotify-adblock-git"]
	path = spotify-adblock-git
	url = https://aur.archlinux.org/spotify-adblock-git.git
