[submodule "slimjet"]
	path = slimjet
	url = https://aur.archlinux.org/slimjet.git
[submodule "spotify-adblock-git"]
	path = spotify-adblock-git
	url = https://aur.archlinux.org/spotify-adblock-git.git
[submodule "xampp"]
	path = xampp
	url = https://aur.archlinux.org/xampp.git
[submodule "makepkg-optimize-mold"]
	path = makepkg-optimize-mold
	url = https://aur.archlinux.org/makepkg-optimize-mold.git
